<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dogfeetbirdfeet.ivorypilatesbackend.mapper.acct.AcctMapper">

    <select id="getAllAccts" resultType="com.dogfeetbirdfeet.ivorypilatesbackend.dto.schema.Acct">
        SELECT ACCT_ID
             , ACCT_PW
             , NAME
             , CONTACT
             , BIRTH_DATE
             , GENDER
             , ACTIVE_YN
             , REG_DTM
             , REG_ID
             , MOD_DTM
             , MOD_ID
        FROM ACCT
        ORDER BY ACCT_ID
    </select>

    <select id="getAcctById" resultType="com.dogfeetbirdfeet.ivorypilatesbackend.dto.schema.Acct">
        SELECT ACCT_ID
             , ACCT_PW
             , NAME
             , CONTACT
             , BIRTH_DATE
             , GENDER
             , ACTIVE_YN
             , REG_DTM
             , REG_ID
             , MOD_DTM
             , MOD_ID
        FROM ACCT
        WHERE ACCT_ID = #{acctId}
        ORDER BY ACCT_ID
    </select>

    <insert id="insertAcct">
        INSERT
        INTO ACCT
        ( ACCT_ID
        , ACCT_PW
        , NAME
        , CONTACT
        , BIRTH_DATE
        , GENDER
        , ACTIVE_YN
        , REG_DTM
        , REG_ID
        , MOD_DTM
        , MOD_ID)
        VALUES ( #{acct.acctId}
               , #{acct.acctPw}
               , #{acct.name}
               , #{acct.contact}
               , #{acct.birthDate}
               , #{acct.gender}
               , #{acct.activeYn}
               , DATE_FORMAT(NOW(), '%Y%m%d')
               , #{userId}
               , DATE_FORMAT(NOW(), '%Y%m%d')
               , #{userId})
    </insert>

</mapper>
