<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dogfeetbirdfeet.ivorypilatesbackend.mapper.test.TestMapper">

    <select id="findAnythingByTableName"
            parameterType="string"
            resultType="map">
        SELECT *
        FROM ${tableName}   <!-- 식별자 치환: 주의! 반드시 검증/화이트리스트 -->
    </select>
</mapper>
