<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dogfeetbirdfeet.ivorypilatesbackend.mapper.holidayMst.HolidayMstMapper">

    <insert id="insertHoliday">
        INSERT
          INTO HOLIDAY_MST
          (
            HOLI_ID
          , HOLI_NM
          , SCHED_DATE
          , REG_DTM
          , REG_ID
          , MOD_DTM
          , MOD_ID
          )
        VALUES
          (
            #{holi.holiId}
          , #{holi.holiNm}
          , #{holi.schedDate}
          , DATE_FORMAT(NOW(), '%Y%m%d')
          , 'SYS'
          , DATE_FORMAT(NOW(), '%Y%m%d')
          , 'SYS'
          )
        ON DUPLICATE KEY UPDATE
           HOLI_NM = #{holi.holiNm}
         , SCHED_DATE = #{holi.schedDate}
         , MOD_DTM = DATE_FORMAT(NOW(), '%Y%m%d')
         , MOD_ID = 'SYS'
    </insert>


</mapper>
