<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dogfeetbirdfeet.ivorypilatesbackend.mapper.calRel.CalRelMapper">

    <insert id="insertCalRel">
        INSERT
          INTO CAL_REL
        (
          CAL_ID
        , CAL_TYPE
        , TAR_ID
        )
        VALUES
        (
          #{calRel.calId}
        , #{calRel.calType}
        , #{calRel.tarId}
        )
    </insert>


</mapper>
