<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dogfeetbirdfeet.ivorypilatesbackend.mapper.calMst.CalMstMapper">

    <select id="findCalIdBySchedDate">
        SELECT CAL_ID
        FROM CAL_MST
        WHERE SCHED_DATE = #{schedDate}
    </select>

    <insert id="makeCalmst">
      <![CDATA[
        INSERT
        /*+
                         SET_VAR(cte_max_recursion_depth=20000)
                         SET_VAR(net_read_timeout=600)
                         SET_VAR(net_write_timeout=600)
                         SET_VAR(max_execution_time=0)
                       */
        INTO CAL_MST
        ( YEAR
        , MONTH
        , DAY
        , KOR_DATE
        , SCHED_DATE
        , SCHED_TIME
        , REG_DTM
        , REG_ID
        , MOD_DTM
        , MOD_ID)
        -- 지정범위 일자 구하기
        WITH RECURSIVE
            BASE AS ( -- 100일씩 이동
                SELECT DATE(#{staYmd}) AS D
                UNION ALL
                SELECT D + INTERVAL 100 DAY
                FROM BASE
                WHERE D <= DATE(#{endYmd}) - INTERVAL 100 DAY),
            DIGITS AS (SELECT 0 N
                       UNION ALL
                       SELECT 1
                       UNION ALL
                       SELECT 2
                       UNION ALL
                       SELECT 3
                       UNION ALL
                       SELECT 4
                       UNION ALL
                       SELECT 5
                       UNION ALL
                       SELECT 6
                       UNION ALL
                       SELECT 7
                       UNION ALL
                       SELECT 8
                       UNION ALL
                       SELECT 9),
            NUMS AS ( -- 0..99
                SELECT t.N * 10 + u.N AS N
                FROM DIGITS t
                         CROSS JOIN DIGITS u),
            HOURS AS ( -- 0..23
                SELECT t.N * 10 + u.N AS H
                FROM DIGITS t
                         CROSS JOIN DIGITS u
                WHERE t.N * 10 + u.N <= 23),
            CAL AS (SELECT DATE_ADD(BASE.D, INTERVAL NUMS.N DAY)          AS NUM_DATE
                         , LPAD(HOURS.H, 2, '0')                          AS HOUR_24
                         , DAYNAME(DATE_ADD(BASE.D, INTERVAL NUMS.N DAY)) AS ENG_DATE
                    FROM BASE
                             CROSS JOIN NUMS
                             CROSS JOIN HOURS
                    WHERE DATE_ADD(BASE.D, INTERVAL NUMS.N DAY) BETWEEN DATE(#{staYmd}) AND DATE(#{endYmd}))
        SELECT DATE_FORMAT(NUM_DATE, '%Y')     AS YEAR
             , DATE_FORMAT(NUM_DATE, '%m')     AS MONTH
             , DATE_FORMAT(NUM_DATE, '%d')     AS DAY
             , CASE ENG_DATE
                   WHEN 'Monday' THEN '월요일'
                   WHEN 'Tuesday' THEN '화요일'
                   WHEN 'Wednesday' THEN '수요일'
                   WHEN 'Thursday' THEN '목요일'
                   WHEN 'Friday' THEN '금요일'
                   WHEN 'Saturday' THEN '토요일'
                   WHEN 'Sunday' THEN '일요일'
            END                                AS KOR_DATE
             , DATE_FORMAT(NUM_DATE, '%Y%m%d') AS SCHED_DATE
             , HOUR_24                         AS SCHED_TIME
             , DATE_FORMAT(NOW(), '%Y%m%d')    AS REG_DTM
             , 'SYS'                           AS REG_ID
             , DATE_FORMAT(NOW(), '%Y%m%d')    AS MOD_DTM
             , 'SYS'                           AS MOD_ID
        FROM CAL
        ORDER BY NUM_DATE, HOUR_24
        ]]>
    </insert>
</mapper>
